.App {
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.head1{
  color: blueviolet;
}
a:link,a:visited{
  color:black;
  font-size: 20px;
  margin-right: 10px;
}
.pqr{
  display: flex;
  flex-wrap: wrap;
  height: 130;
  width: 130
}
.save{
  display: contents;
}
.why{
  background-color: bisque;
}
.last{
  background-color: rgb(56, 54, 54);
  color: whitesmoke;
}
.test{
  background-color: antiquewhite;
}
.underline{
  text-decoration-style: none;
}